[2018-02-23 18:43] ExactlyMay opened #6 "Systers Community members want to know upcoming events."
## Description
As a Systers Community member,
I need know the upcoming events,
so that I can learn how to engage.

## Mocks
- Initial Sketch
![paper-mockup-plan](https://user-images.githubusercontent.com/2440938/36611026-1e7b6dba-18a0-11e8-9516-126ea26bcc5c.jpg)
- Digital Mock
![balsamiq-mockup](https://user-images.githubusercontent.com/2440938/36610889-b822c11c-189f-11e8-9629-83238e1bd3fb.png)
[L

[2018-02-27 01:22] shreyateeza opened #8 "Create Home Page of Celebration"
## Description
As a Systers Community member,
I want to create a home page of Celebration,
so that I can get notified about the -
1. The latest ten events that will be happening
2. An area that describes how to join the mailing list
3. Overview of the Systers Communities

## Mocks
![celebration-home page](https://user-images.githubusercontent.com/30488330/37596110-17d85e0a-2ba1-11e8-8054-dd30225cd

[2018-02-27 10:10] Saichethan commented on #6
Can I work on this?
And are "GSoC", "2016", "Syster.io" dropdowns or tables
Please clarify this before I start working on this

[2018-03-02 10:34] BaaniLeen commented on #6
@MeepyMay @prachi1210 I would like to work on this issue. Can you please assign it to me, so that I can start working on the same! :)

[2018-03-02 10:43] BaaniLeen commented on #6
@Saichethan Shreya is already working on this! :)
You can start working on some other issue :)

[2018-03-02 10:58] shreyateeza commented on #8
I am working on this issue. :smile:

[2018-03-02 10:59] shreyateeza commented on #6
Yes @Saichethan as Baani said I am working on this issue.

[2018-03-02 14:11] Saichethan commented on #6
@shreyateeza  Sure!

[2018-03-03 10:16] Tharangi opened #9 "Adding Travis CI"
## Description
As a Systers GitHub page developer,
I need to set to automatically build pull requests and adds the output to those PRs,
so that I can see if it is safe to merge a request without building it locally.

## Mocks
N/A

## Acceptance Criteria
### Travis CI integration
- [ ] Automatically build pull requests.
- [ ] Automatically add outputs to built PRs.

## Definition of Done
- [ ] All

[2018-03-04 14:18] BaaniLeen commented on #6
![screen shot 2018-03-04 at 7 40 07 pm](https://user-images.githubusercontent.com/22029744/36946511-e89bd4c8-1fe3-11e8-835f-062e7863cb24.png)
@MeepyMay @prachi1210 Looking forward to your suggestions and feedback regarding the mock-ups :)
Shall I go ahead with the UML Diagram and architecture design?

[2018-03-04 16:27] shreyateeza commented on #8
@MeepyMay  Do I have to make the sign up form in this celebration home page to make people join it or provide a link to join the slack?
If latter is the case then I have to send them invitation to join the systers-opensource slack group or systers slack group?

[2018-03-04 17:11] prachi1210 commented on #6
@BaaniLeen this looks good to me and line with the sketch by May, I have one question though did you use the colour scheme from the AnitaB.org Branding Guidelines?

[2018-03-04 17:14] prachi1210 commented on #9
I don't think we have tests written for this repository so Travis CI is not really of any use here.

[2018-03-05 17:41] MeepyMay commented on #6
To clarify, any student who is applying to GSoC can work on issues that are related to the "Project Ideas" of GSoC 2018.

@BaaniLeen This is an embedded calendar and that was specified on the Ideas List "No embedding." Can you include a menu as well? This can be a separate page from the Home Page, but it still is part of the "Systers Celebration" site.

One of the calendar samples I found was: [Pi

[2018-03-06 01:21] BaaniLeen commented on #6
@MeepyMay Sorry! I missed that point!
@prachi1210 Will look into the same as well as the AnitaB.org Branding Guidelines once again, to create fresh mockups :)

[2018-03-06 04:31] Saichethan commented on #6
@MeepyMay  even [PIGNOSE-Calendar/](https://www.pigno.se/barn/PIGNOSE-Calendar/) this is not integrated with Google am I wrong? Correct me if I am.

[2018-03-06 04:32] Saichethan commented on #6
As of now I have only familiar with iframe or ical or integrating Google calendar so, if there is any other site using this would be helpful!

[2018-03-07 14:36] shreyateeza commented on #8
@MeepyMay @prachi1210 please let me know.

[2018-03-08 18:23] MeepyMay commented on #8
This is a valid issue from GSoC18 Ideas.

[2018-03-08 18:26] MeepyMay commented on #8
@shreyateeza I'm a little confused on the question and adjusted some of the wording in the original issue.

We're trying to provide a temporary solution with /celebration GH page. This is an informational site to display information about events and Systers communities since Portal is currently not in production.

[2018-03-08 18:33] MeepyMay commented on #6
@Saichethan @BaaniLeen @shreyateeza Feel free to submit any mocks. This doesn't guarantee who completes this task. More so, it will give you an opportunity to add your contributions/designs to the second question under [GitHub Pages in the Systers GSoC application](https://docs.google.com/document/d/1mABPOVuuGO5TzxAsSV_9PKdkjyVRAr2js_-S43dhCaY/edit?usp=sharing).

[2018-03-08 18:40] MeepyMay commented on #6
@Saichethan Yes, it's not integrated. That's our current problem. I've been trying to pull event data from a Systers Google Calendar to populate a table on our site. I tried utilizing [this script](https://developers.google.com/google-apps/calendar/quickstart/nodejs) to get event data.

I googled Bootstrap calendars so we can display something that's integrated with our own design.

[2018-03-09 02:45] Saichethan commented on #6
@MeepyMay if you are thinking of compatibility on all devices please do check AMP instead of Bootstrap

[2018-03-09 02:50] Saichethan commented on #8
@MeepyMay is creating celebration page a separate task? if this is a single task it doesn't take 3 months so, please give me some more information about project

[2018-03-09 02:51] BaaniLeen commented on #8
@Saichethan It is one of the tasks listed under the project gh-pages. :)
Am I correct @MeepyMay ? :)

[2018-03-09 02:52] Saichethan commented on #8
If this is complete project then in that time limit we can make it PWA(Progressive Web App) + AMP(Accelerated Mobile Pages) also, so can you please give me some more insights about project

[2018-03-12 23:15] MeepyMay commented on #6
@Saichethan AMP/Bootstrap/Node, anything goes. The goal is to accomplish this task, not to use a specific technology to solve it.

Before coding though, please submit mocks so we know what is getting coded.

[2018-03-13 04:52] Saichethan commented on #6
As, @MeepyMay you earlier suggested me not to start coding before coding period so, mock should be something in pdf or pain forms , I mean how can I show that I am capable of completing this task other than actually building it? Correct me if I am wrong?

[2018-04-20 00:08] MeepyMay opened #12 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-04-20 04:43] Saichethan commented on #12
@MeepyMay  I don't have a write access to directly add wiki sidebar So, I added on my fork, please check this out  [https://github.com/Saichethan/celebration/wiki](https://github.com/Saichethan/celebration/wiki)

[2018-04-25 04:52] #9 closed

[2018-04-25 07:50] divyanshu-rawat opened #16 "Travis Build Is Failing."
## Description
As a Systers Community Member,
I need make sure Travis is working properly,
so that I can ensure that changes committed by me are not breaking any existing functionality.

## Mocks
![screen shot 2018-04-25 at 1 14 29 pm](https://user-images.githubusercontent.com/13464678/39232357-aaa10272-488a-11e8-84ea-ddcf9a6149bc.png)

![screen shot 2018-04-25 at 1 16 23 pm](https://user-images.g

[2018-04-25 14:52] BaaniLeen commented on #16
@divyanshu-rawat Since tests have not been written for this repo yet, what is the purpose of having a Travis CI?

[2018-04-26 06:58] divyanshu-rawat commented on #16
@BaaniLeen I do agree with you on the same but as far as I know, right now Travis is failing because of some other reasons maybe configuration issues in .travis.yml I guess.

[2018-04-27 07:05] BaaniLeen commented on #16
@divyanshu-rawat Can I remove the .travis.yml file as suggested by May? Can you assign me the issue to work upon?

[2018-04-27 08:32] divyanshu-rawat commented on #16
@BaaniLeen actually @MeepyMay has already turned off Travis CI.
I don't think .travis.yml is causing any harm so I think we can keep it until we write test cases.
And currently it will not build anything as it's being turned off by @MeepyMay .

[2018-04-27 08:35] BaaniLeen commented on #16
@divyanshu-rawat Great! That works then! :)
Shall we close this issue since it has been resolved?

[2018-04-27 08:36] divyanshu-rawat commented on #16
@BaaniLeen sure 👍

[2018-04-27 08:36] #16 closed

[2018-05-02 23:54] BaaniLeen opened #17 "Update the README file"
## Description
As a Member,
I need to update the README file,
so that I can make it easier for others to understand the contents of this repository.

## Acceptance Criteria
### Update [Required]
- [ ] [README.md]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

Can I work on this issue?

[2018-05-04 07:35] divyanshu-rawat commented on #12
@Saichethan are you working on this?
if not I am assigning it to @anumehaagrawal?

[2018-05-12 04:46] anumehaagrawal commented on #12
@Saichethan  Any update ?

[2018-05-12 09:07] Saichethan commented on #12
I was not assigned yet I'll do once I am assigned or if they assign you I'm ok with that.@anumehaagrawal

[2018-05-13 11:28] anumehaagrawal opened #18 "Set up the repository with basic angular files"
## Description
As a user,
I need set up the repository,
so that I can restart the project with angular framework

## Acceptance Criteria
- Basic working Angular App
- Basic files and modules established

### Update [Required]
- README
- Create multiple new files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour
Can I be assigned

[2018-05-14 06:08] anumehaagrawal commented on #17
@Tharangi  Can I work on this issue  if @BaaniLeen  has not been assigned and is not working on it

[2018-05-14 06:49] anumehaagrawal opened #20 "Development of Header and Footer"
## Description
As a user,
I need develop the header and footer components

## Acceptance Criteria
### Update [Required]
- [ ] Nav bar components
- [ ] Footer components

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 hours
@Tharangi  Can you assign me this issue ?

[2018-05-15 04:33] Tharangi commented on #17
@BaaniLeen I will Assign this to @anumehaagrawal  as she will be working on this repository mostly in coming months.

[2018-05-16 04:58] anumehaagrawal opened #22 "Create contact us page for the communities website"
## Description
As a user I need to develop a contact page

## Mocks
![screenshot from 2018-05-16 10-27-04](https://user-images.githubusercontent.com/25412153/40097429-b3d18938-58f3-11e8-8115-4fd14082abd8.png)

## Acceptance Criteria
### Update [Required]
- [ ] contact.component.html
- [ ] contact.component.scss

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by

[2018-05-16 20:05] Tharangi commented on #22
Assigned!

[2018-05-19 17:45] anumehaagrawal opened #27 "Create Home Page for the communities website"
## Description
As a user
I need to create a home page for the website
## Acceptance Criteria

### Update [Required]
- [ ] home.component.html
- [ ] home.component.scss

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10-11 hours
@kanmodi  @Tharangi  Can you assign me this issue ?

[2018-05-19 19:49] Tharangi commented on #27
Assigned!

[2018-05-24 06:09] anumehaagrawal opened #33 "Create communities section"
## Description
As a user
I need to create the affinity groups (communities ) section in the website

## Acceptance Criteria
### Update [Required]
- [ ] communities.component.html
- [ ] communities.component.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
8 hours
@Tharangi @kanmodi Please assign me this issue

[2018-05-24 07:36] Tharangi commented on #33
Assigned!

[2018-05-24 07:41] Tharangi commented on #27
#8

[2018-05-24 07:42] #8 closed

[2018-05-30 06:58] anumehaagrawal opened #34 "Creating a submittable contact form"
## Description
As a Systers community member
I should be able to submit a message request to Systers Admins
so that I can clarify my need.

## Acceptance Criteria
### Update [Required]
- [ ] contact.component.ts
- [ ] contact.component.html
@kanmodi  @Tharangi  Can you assign me this issue ?
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estima

[2018-05-30 07:02] kanmodi commented on #34
@anumehaagrawal Assigned!

[2018-06-01 06:29] anumehaagrawal opened #36 "Create a calendar to view events"
## Description
As a Systers Community member,
I need to know the upcoming events,
so that I can join the events.

## Acceptance Criteria
### Update [Required]
- [ ] calendar.component.ts
- [ ] calendar.component.js
- [ ] calendar.js

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
12 hours
@Tharangi  @kanmodi  Can you assign me this i

[2018-06-01 07:33] Tharangi commented on #36
Assigned!

[2018-06-04 15:46] anumehaagrawal opened #37 "Fix the slider height in the Communities page"
## Description
As a Systers community member
I need to see the slider with a proper height
so that I can have a better user experience

## Mocks
![screenshot from 2018-06-04 21-15-31](https://user-images.githubusercontent.com/25412153/40927479-71fbbc56-683c-11e8-85a8-8e7f08e48d17.png)

## Acceptance Criteria
### Update [Required]
- [ ] communities.component.html
- [ ]  communities.component.ts

##

[2018-06-04 15:52] Tharangi commented on #37
Assigned!

[2018-06-06 08:01] anumehaagrawal opened #39 "Change the Systers Affinity from Tabs to Cards"
## Description
As a user
I need to change the view to cards

## Mocks
(Possibility of 4 cards in a row)
![screenshot from 2018-06-06 00-50-29](https://user-images.githubusercontent.com/25412153/41024767-c1766a86-698d-11e8-9d53-95f9f310a23b.png)

## Acceptance Criteria
### Update [Required]
- [ ] communities.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-06-06 08:32] kanmodi commented on #39
Assigned!

[2018-06-07 17:24] Tharangi opened #43 "Add relevant images to Community Groups in Communities Page"
## Description
As a Systers Community member,
I need to see relevant images community group-wise in the Communities Page,
so that I can have a better user experience.

## Acceptance Criteria
### Update [Required]
- [ ] communities.component.html
- [ ] communities.component.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1.5 hours

[2018-06-08 19:45] anumehaagrawal opened #44 "Adding upcoming events cards"
## Description
As a user
I need to add cards to display upcoming events

## Acceptance Criteria
### Update [Required]
- [ ] home.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15 hours
@Tharangi @kanmodi  Can you please assign me this issue ?

[2018-06-09 09:47] kanmodi commented on #44
Assigned!

[2018-06-09 16:18] Tharangi opened #45 "Adding details of ways to engage with Systers Community in Contact Us"
## Description
As a Systers Community Member,
I need to see ways of engaging with Systers,
so that I can engage with the Systers Community.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
 - [ ] contact.component.html
  -[ ] contact.component.scss

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1.5

[2018-06-09 16:39] Tharangi commented on #45
@anumehaagrawal: You can use your favorite modal view for this! :D

[2018-06-09 16:44] Tharangi opened #46 "GitHub link is not working in the footer"
## Description
As a Systers Community member,
I should be able to go to the Systers GitHub easily by clicking the link in the footer,
so that I can contribute to interested repositories easily.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Footer components

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-06-11 09:05] anumehaagrawal commented on #45
@Tharangi  Yeah I will work on this :)

[2018-06-11 09:12] anumehaagrawal commented on #45
@Tharangi  What content can I put in the modals ?

[2018-06-11 09:37] sara-02 commented on #45
I guess you need to add a join our slack group message for the slack-modal view, link to join the Mailing list for the  ML-modal view, and GitHub org link for the last one.
For each of these link can tell what information the newcomers can post or receive.
eg: `To view the open source projects Systers is maintaining and contributing to, visit our github org`.(better if we can redirect them to syst

[2018-06-13 14:02] anumehaagrawal opened #48 "Add Join us section in contact page"
## Description
As a user
I need add a join us section along with contact form

## Mocks
![screenshot from 2018-06-13 19-31-04](https://user-images.githubusercontent.com/25412153/41355982-56a9323e-6f40-11e8-8c50-55cff2ff5398.png)

## Acceptance Criteria
### Update [Required]
- [ ] contact.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor

[2018-06-13 17:29] Tharangi commented on #48
Make sure to align the labels to left and the button to right as well in the contact form as discussed at the GitHub pages All Teams meeting today. :)

[2018-06-15 16:43] Tharangi opened #51 "Removing the red colour notification icon showing the number of events in the calendar"
## Description
As a Systers Community member,
I want to see an indication of the number of events in a day only, not as a notification,
so that I can have a better user experience.

## Mocks
![screen shot 2018-06-15 at 10 01 39 pm](https://user-images.githubusercontent.com/7287218/41479546-1ef22ada-70e9-11e8-9a1a-78da893c1c13.png)

## Acceptance Criteria
### Update [Required]
- [ ] calendar compon

[2018-06-17 12:40] anumehaagrawal opened #52 "Testing of the communities website"
## Description
As a user
I need to test the working of the website

## Mocks
## Acceptance Criteria
### Update [Required]
- [ ] karma.conf
### Enhancement to Update [Optional]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
16  hours
@Tharangi  @kanmodi  Please assign me this issue

[2018-06-18 13:45] kanmodi commented on #52
Assigned!

[2018-06-18 17:29] Tharangi opened #53 "Validate the email address in the Contact Us form"
## Description
As a Systers community administrator,
I need to ensure that given email address of users are correct in the Contact Us form,
so that I can receive all the contact inquiries.

## Acceptance Criteria
### Update [Required]
- [ ] contact.component.ts
- [ ] contact.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2018-06-23 14:20] Tharangi opened #56 "New Contact Us page UI for the Communities website"
## Description
As a Systers community member,
I need to contact Systers administrators,
so that I can reach to them/ clarify the questions I have.

## Mocks
This is the existing contact us form and these components(Contact form, Joining links for Slack, Github, and Mailing List) should be included in a way to give a better user experience.
![screen shot 2018-06-23 at 7 48 21 pm](https://user-image

[2018-06-30 13:10] Tharangi commented on #6
Duplicate of #36

[2018-06-30 13:10] #6 closed

[2018-06-30 18:51] anumehaagrawal opened #57 "Modify the javascript for the calendar to display all events"
## Description
As a user
I need to modify the js file
so that I can render all calendar events

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] google_cal.js

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours
@Tharangi  @kanmodi  Please assign me this issue :)

[2018-06-30 20:20] kanmodi commented on #57
Done! :)

[2018-07-01 14:58] erichart commented on #56
@Tharangi I would like to claim this issue.

[2018-07-02 07:49] Tharangi commented on #56
@erichart Sure, you can work on this!

[2018-07-04 15:33] erichart commented on #56
@Tharangi Sure thing. I am working on the mock-up now.

[2018-07-10 20:24] erichart commented on #56
![mockcontactus](https://user-images.githubusercontent.com/25314033/42535508-868f66b2-845d-11e8-91db-b45d4f9cfc6b.png)

The icons are cross-fade images that convert from icons to text icons on mouse over

[2018-07-21 06:12] anumehaagrawal opened #62 "Modify the upcoming events js"
## Description
As a user
I need to modify js to update upcoming events
## Acceptance Criteria
### Update [Required]
- [ ] home.component.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
20 minutes
@Tharangi  Please assign me this issue

[2018-07-21 06:13] kanmodi commented on #62
Assigned!

[2018-07-28 09:29] anumehaagrawal opened #64 "Adding multiple google calendars in the angular calendar"
## Description
As a user
I need to add multiple google calendars
## Acceptance Criteria

### Update [Required]
- [ ] google_cal.js

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15 hours
@Tharangi  @kanmodi  Please assign me this issue :)

[2018-07-28 09:54] kanmodi commented on #64
Assigned :)

[2018-07-28 18:48] Tharangi opened #65 "Make the slideshows in 'Home' and 'Communities' page similar in height"
## Description
As a Systers community member,
I need to see the slideshows in 'Home' and 'Communities' pages,
so that I can have a better user experience.

## Acceptance Criteria
### Update [Required]
- [ ] home.component.html
- [ ] home.component.css
- [ ] communities.component.html
- [ ] communities.component.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2018-07-28 19:03] Tharangi opened #66 "Make the image height of the 'Contact Us' page similar in height to the slideshows in 'Home' and 'Communities' pages"
## Description
As a Systers community member,
I need to see the slideshows/ image headers on the website in a consistent height,
so that I can have a better user experience.

## Mocks
-

## Acceptance Criteria
### Update [Required]
- [ ]  contact.component.html
- [ ]  contact.component.scss

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estima

[2018-07-28 19:07] Tharangi opened #67 "Increase the gap between the content and the main navigation in the 'Calendar' page"
## Description
As a Systers community member,
I need to see the separation between content and the navigation bar clearly,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ]  calendar components

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-07-28 19:21] Tharangi opened #68 "Keep the space between the slideshows/ header image and the content in all the pages similar"
## Description
As a Systers community member,
I need to see the space between the slideshows/ header image and the content in all the pages similar,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] home.component.html
- [ ] communities.component.html
- [ ]  contact.component.html

## Definition of Done
- [ ] All o

[2018-07-28 19:26] Tharangi opened #69 "Rename 'Now' in the Calendar to 'Today'"
## Description
As a Systers community member,
I need to see a tab named 'Today' on the calendar,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] calendar components

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-07-28 19:31] Tharangi opened #70 "Increase the size of the < (previous) and > (next) signs in the calendar."
## Description
As a Systers community member,
I need to see the < and > signs in the calendar clearly,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Calendar components

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-07-28 19:43] Tharangi opened #71 "Add a tiny message above the calendar to explain that you can click on a dot to get information"
## Description
As a Systers community member,
I need to view information in the calendar easily,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Calendar components

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-07-28 19:45] Tharangi opened #72 "Text is not staying within cards in the Home page"
## Description
As a Systers community member,
I need to see the content of the cards within the cards,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] home.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-07-30 17:49] ExactlyMay opened #73 "UI Update/CleanUp for GSoC18"
## Description
As a developer,
I need to complete the branding of the app,
so that I can push a final product to production.

## Mocks
![0001](https://user-images.githubusercontent.com/2440938/43679434-3db49e54-97f3-11e8-801c-f2bc8de93abc.jpg)
-
![0003](https://user-images.githubusercontent.com/2440938/43679436-3dca8c82-97f3-11e8-87ff-d168a79f06af.jpg)
-
![0002](https://user-images.githubuserconte

[2018-07-30 17:55] #18 closed

[2018-07-30 17:56] kanmodi commented on #27
Closed #27

[2018-07-30 17:56] #27 closed

[2018-07-30 17:56] #22 closed

[2018-07-30 17:57] #52 closed

[2018-07-30 17:57] #39 closed

[2018-07-30 17:58] kanmodi commented on #43
@anumehaagrawal will add images given by @may from the marketing team here.
Closing #43

[2018-07-30 17:58] kanmodi commented on #44
Closed #44

[2018-07-30 17:58] #44 closed

[2018-07-30 17:59] kanmodi commented on #48
Join us section added.
Closed #48

[2018-07-30 17:59] #48 closed

[2018-07-30 18:00] kanmodi commented on #53
Issue addressed!
Closed #53

[2018-07-30 18:00] kanmodi commented on #36
Calendar added!
Closed #36

[2018-07-30 18:00] #36 closed

[2018-07-30 18:02] Tharangi commented on #33
This was merged with #40

[2018-07-30 18:02] #33 closed

[2018-07-30 18:04] kanmodi commented on #43
My bad. Still pending!

[2018-07-30 18:05] Tharangi commented on #20
Merged with #30

[2018-07-30 18:05] #20 closed

[2018-07-30 18:09] Tharangi commented on #34
This issue is already fixed and merged but without reference.

[2018-07-30 18:09] #34 closed

[2018-07-30 18:10] Tharangi commented on #37
This issue is already merged but without reference.

[2018-07-30 18:10] #37 closed

[2018-07-30 18:11] #46 closed

[2018-07-30 18:12] #57 closed

[2018-07-30 18:12] Tharangi commented on #62
This issue is already merged but without reference.

[2018-07-30 18:14] #17 closed

[2018-07-31 09:05] anumehaagrawal opened #74 "Add files for deployment"
## Description
As a user
I need add files for heroku deployment

## Acceptance Criteria
### Update [Required]
- [ ] server.js

- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-08-04 08:12] #62 closed

[2018-08-04 08:12] #64 closed

[2018-08-04 08:16] #74 closed

[2018-08-04 18:47] Tharangi opened #83 "Keep the font consistent"
## Description
As a Systers community member,
I need to see the font on the Communities page consistent,
so that I can have a better user experience.

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-08-04 18:48] anumehaagrawal opened #84 "Optimisations"
## Description
As a user
I need to compress images , minify js and css.

## Acceptance Criteria
### Update [Required]
- [ ] images , js , css

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
6 hours
@Tharangi @Rupinderwadali @kanmodi  Please assign me this issue

[2018-08-04 18:49] anumehaagrawal opened #85 "Maintain consistent font size"
## Description
As a user
I need maintain consistent font size throughout
## Acceptance Criteria
### Update [Required]
- [ ] style.css
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

@Tharangi @kanmodi @Rupinderwadali  Please assign me this issue

## Estimation
[INSERT NUMBER HERE] hours

[2018-08-04 18:51] anumehaagrawal opened #86 "Increase spacing for upcoming events cards"
## Description
As a user
I need to maintain consistent spacing in upcoming events cards

## Acceptance Criteria
### Update [Required]
- [ ] home.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-08-04 19:34] Tharangi commented on #86
#83

[2018-08-04 19:35] Tharangi commented on #85
#83

[2018-08-04 19:35] #85 closed

[2018-08-04 19:40] Tharangi opened #87 "Add a margin to all the pages"
## Description
As a user,
I need to see the page content in a content box in all pages,
so that I can have a better user experience.

## Mocks
Similar to Systers.github.io

## Acceptance Criteria
### Update [Required]
- [ ] style.css

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-08-06 19:02] Tharangi opened #89 "Remove the image in the Contact Us page"
## Description
As a Systers community member,
I need to find the contact us form easily without scrolling much(without image headers),
so that I can fill it easily.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] contact.component.html
- [ ] contact.component.scss

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-08-09 10:57] anumehaagrawal opened #91 "Fix the successful contact link"
## Description
As a user
I need to fix the successful contact link

## Acceptance Criteria
### Update [Required]
- [ ] contact-success.component

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-08-10 03:27] anumehaagrawal opened #92 "Fix the issue of blur images"
## Description
As a user
I need to fix blur image issue

## Acceptance Criteria
### Update [Required]
- [ ] css files
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 hours
@Rupinderwadali @Tharangi @kanmodi  Please assign me this issue

[2018-08-11 04:21] anumehaagrawal opened #96 "Add favicon.ico"
## Description
As a user
I need add a favicon.ico

## Acceptance Criteria
### Update [Required]
- [ ] favicon.ico
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours
@Tharangi  @Rupinderwadali @kanmodi  Please assign me this issue

[2018-08-11 04:27] anumehaagrawal opened #97 "Update footer according to marketing team guidelines"
## Description
As a user
I need update the footer according to marketing team wireframe

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] footer.component.html
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours
@Tharangi @Rupinderwadali @kanmodi  Please assign me

[2018-08-11 04:38] anumehaagrawal opened #98 "Contact us page responsiveness"
## Description
As a user
I need to ensure the responsiveness of contact us page

## Acceptance Criteria
### Update [Required]
- [ ] contact.component.html
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-08-11 12:56] kanmodi commented on #97
Assigned!

[2018-08-11 12:57] kanmodi commented on #96
Assigned!

[2018-08-12 08:06] #66 closed

[2018-08-12 08:06] #69 closed

[2018-08-12 08:12] anumehaagrawal opened #101 "Add travis ci support"
## Description
As a user
I need to enable travis CI integration with heroku.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] .travis.yml

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours
@Tharangi @kanmodi @Rupinderwadali Please ass

[2018-08-13 16:40] #101 closed

[2018-08-13 16:44] #65 closed

[2018-08-13 16:44] #67 closed

[2018-08-13 16:44] #68 closed

[2018-08-13 16:44] #71 closed

[2018-08-13 16:44] #72 closed

[2018-08-13 16:44] #73 closed

[2018-08-13 16:44] #86 closed

[2018-08-13 16:44] #87 closed

[2018-08-13 16:44] #92 closed

[2018-08-13 16:45] #97 closed

[2018-08-13 16:45] #98 closed

[2018-08-13 16:48] #43 closed

[2018-08-13 16:48] #91 closed

[2018-08-20 11:27] Tharangi opened #104 "Medium link is not working in the footer"
## Description
As a user,
I need to go to Systers Medium account by clicking the Medium icon in the footer,
so that I can know of their work.

## Mocks
![image](https://user-images.githubusercontent.com/7287218/44337873-c6f9a080-a499-11e8-8007-7b93f4ba35bb.png)
https://medium.com/@systers_org

## Acceptance Criteria
### Update [Required]
- [ ] footer.component.html

## Definition of Done
- [ ] All

[2018-08-20 11:31] Tharangi opened #105 "Correction: Private Policy -> Privacy Policy"
## Description
As a user,
I need to see the content without grammar errors,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]
![image](https://user-images.githubusercontent.com/7287218/44338012-40918e80-a49a-11e8-9a4c-216aa54cc284.png)

This should be changed to
![image](https://user-images.githubusercontent.com/7287218/44338104-8f3f2880-a49a-11e8-8fde-e6105eb7812b.

[2018-08-20 11:33] isabelcosta commented on #104
Basically, the link is pointing to the Twitter page instead of Medium account, I checked this through the deployed server https://systers-communities.herokuapp.com/

[2018-08-20 14:54] Tharangi commented on #104
That's what I also meant @isabelcosta . Changed the issue header to be more meaningful.

[2018-08-20 16:00] Tharangi opened #106 "Add a white space after the social media icons and the edge of the page"
## Description
As a Systers community member,
I need to see the social media icons clearly,
so that I can have a better user experience.

## Mocks
Current:
![image](https://user-images.githubusercontent.com/7287218/44351262-1b634700-a4bf-11e8-97b4-9eea8b3df3ca.png)
Suggesting:
![image](https://user-images.githubusercontent.com/7287218/44351679-0dfa8c80-a4c0-11e8-9fcf-9e965ce1d78f.png)

## Acceptan

[2018-08-20 16:05] Tharangi opened #107 "Add Privacy Policy link"
## Description
As a Systers community member,
I need to see the privacy policy by clicking the privacy policy link,
so that I can know the privacy policy.

## Mocks
(Currently directing to the Contact Us page)

## Acceptance Criteria
### Update [Required]
- [ ]  footer.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.

[2018-08-20 16:08] Tharangi opened #108 "Add Contribution Guidelines link"
## Description
As a Systers community member,
I need to see the contribution guidelines by clicking the Contribution Guidelines link,
so that I can know contribution guidelines.

## Mocks
(Currently directing to the Contact Us page)

## Acceptance Criteria
### Update [Required]
- [ ]  footer.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-08-20 16:10] Tharangi opened #109 "Add Terms and Conditions link"
## Description
As a Systers community member,
I need to see the terms and conditions by clicking the Terms and Conditions link,
so that I can know the terms and conditions.

## Mocks
(Currently directing to the Contact Us page)

## Acceptance Criteria
### Update [Required]
- [ ] footer.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-08-20 16:13] Tharangi commented on #56
Reopening this as we couldn't finalize a new design for the contact us page.

[2018-08-20 16:16] Tharangi commented on #56
@erichart Sorry for taking too long to reply here. Thank you for the shared mockup. This is the current contact us page: https://systers-communities.herokuapp.com/contact. The new contact us page should match the theme of the website.

[2018-08-20 17:06] Tharangi commented on #104
I will fix this

[2018-08-20 17:06] Tharangi commented on #105
I will fix this

[2018-08-21 15:52] Tharangi commented on #107
@ExactlyMay can we link AnitaB.org's Privacy Policy: https://anitab.org/privacy-policy/

[2018-08-21 15:54] Tharangi commented on #109
@ExactlyMay can we link AnitaB.org's Terms of Use: https://anitab.org/terms-of-use/? Or do we have any other Terms and Conditions?

[2018-08-30 10:19] Tharangi commented on #51
@anumehaagrawal are you still interested in working on this or shall we make this available?

[2018-08-31 02:55] tomzacchia commented on #106
Hi,
Would you mind if I took a crack at this? It seems simple enough and this would be my first open source contribution.

Thank you,
Tom

[2018-08-31 08:06] anumehaagrawal commented on #84
@Tharangi I will be working on this

[2018-08-31 08:57] anumehaagrawal commented on #51
Since we couldnt come up with a fix for this lets open it for new comers @Tharangi

[2018-08-31 08:57] anumehaagrawal commented on #96
@Tharangi  I will work on this

[2018-08-31 08:58] anumehaagrawal commented on #106
@Tharangi  I think we can assign this to @tomzacchia

[2018-09-04 14:52] Tharangi commented on #106
@tomzacchia Please refer the mocks given in the issue description. That is the UI bug that should be fixed.

[2018-09-04 20:50] tomzacchia opened #115 "Navbar links are permanently displayed on smaller screen sizes."
## Description
As a systers community member,
I need navigate to different parts of the website,
so that I can view content of interest.

## Mocks

![screen shot 2018-09-04 at 4 44 50 pm](https://user-images.githubusercontent.com/26035225/45056912-35c22680-b062-11e8-87f7-ca64e450f733.png)
![screen shot 2018-09-04 at 4 44 45 pm](https://user-images.githubusercontent.com/26035225/45056898-2d69eb80-b

[2018-09-05 22:02] sarnava1 commented on #106
@Tharangi  can I give this a try?

[2018-09-05 22:04] sarnava1 commented on #109
@Tharangi can I work on this?

[2018-09-06 17:59] Tharangi commented on #106
@sarnava1 : Thank you for your interest, but @tomzacchia has already sent a PR on this.

[2018-09-06 18:08] Tharangi commented on #115
@tomzacchia could you explain the issue?

I can't find any issue/ any not user-friendly behavior in the navigation bar responsiveness.

[2018-09-06 18:41] tomzacchia commented on #115
@Tharangi. I am viewing https://systers-communities.herokuapp.com/ on Chrome and at breakpoint 1200px (width) the navbar links collapse and are replaced by the hamburger icon. After this transition the navbar links can be seen hidden behind the div with class "carousel-inner", if you look at the top left corner of the carousel image you can see the first two letters of "Communities, Calendar and C

[2018-09-06 19:57] sarnava1 commented on #106
Okay maam @Tharangi!! I will be surely search for another issue and work on it. Can you add me to slack channel of Systers? I did not get the slack invite in my mail!! Please add me in slack. I want to be an active contributor in Systers

[2018-09-07 07:42] Tharangi commented on #106
I guess there is an issue with the slack inviter. Did you try using this link: [](https://slack-systers-opensource.herokuapp.com/)? @ExactlyMay FYI

[2018-09-07 07:59] Tharangi commented on #115
Sorry!, I still couldn't recreate it.
![image](https://user-images.githubusercontent.com/7287218/45205722-96d73d80-b2a0-11e8-82b1-07eb5482e556.png)

**In tab and mobile screens hamburger icon displays, and by clicking on that menu appears, and once you click on a menu item again it collapses. That is how the behavior is designed.** @anumehaagrawal this is the designed behavior right?

[2018-09-07 08:01] sarnava1 commented on #106
@Tharangi @ExactlyMay I tried joining using that link. It said that mail will be sent shortly. But it never came!!!
![screenshot from 2018-09-07 13-27-47](https://user-images.githubusercontent.com/25319565/45206193-0ef23300-b2a2-11e8-899c-e7bd39d4d93c.png)

Please help me out!!! I really want to contribute to Systers. Previously I tried joining this link but exactly the same thing happened!! That

[2018-09-07 17:53] tomzacchia commented on #115
I agree with you that on mobile screens, this bug is not visible perhaps due to the different browser. However on desktops, with Chrome, when the browser size is smaller than 1200px the nav links are permanently displayed. This might also be the case for android tablets, not iPads because the browser is also safari.

My suggestion would be to use some Material components, which come with the dropd

[2018-09-12 22:00] sarnava1 commented on #109
@Tharangi @ExactlyMay Can I work on this?

[2018-09-18 22:36] sarnava1 commented on #109
@Tharangi @ExactlyMay if you can help me with the local installation then I would be happy to help with this

[2018-09-18 22:37] sarnava1 commented on #96
@anumehaagrawal are you still working on this? Can anyone here please help me with the local installation of this project?

[2018-09-20 11:33] kanmodi commented on #96
@sarnava1 Pull Request #113 fixes this

[2018-09-20 11:36] kanmodi commented on #84
Closed #84

[2018-09-20 11:36] #84 closed

[2018-09-20 12:06] sarnava1 commented on #96
@kanmodi Okay!!

[2018-09-23 18:36] f2015537 commented on #108
@Tharangi may I work on this issue?

[2018-09-23 18:59] f2015537 commented on #96
@sarnava1  you need to have angular cli installed on your system. Then navigate to you cloned repository and install dependencies by npm install. Then hit ng serve.

[2018-09-23 19:00] f2015537 commented on #96
@sarnava1 if you're still facing issues contact me on the slack group.

[2018-09-23 19:16] sarnava1 commented on #96
Thanks a lot @f2015537. If the problem persists I will surely contact you in the slack group.

[2018-09-23 19:39] f2015537 opened #117 "Readme file is not comprehensive enough"
## Description
As a developer,
I need make the Readme file comprehensive,
so that new contributors can easily setup the web app on their system locally.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [README.md]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1

[2018-09-23 19:43] f2015537 commented on #117
@Tharangi please assign this to me!

[2018-09-24 06:57] Rupinderwadali commented on #115
@tomzacchia I recreate the issue. Yeah! there is a bug. Infact it is showing errors while scrolling as well.

[2018-09-24 07:02] Rupinderwadali commented on #109
@sarnava1 You can install the project on your local with the instructions in the readme file of the project. If you find any issue while installing the project, you can ask it on the systers slack channel "gh-pages"
And this issue is already covered. I'm closing this issue.
Thanks

[2018-09-24 07:03] #96 closed

[2018-09-24 07:17] Tharangi commented on #115
@tomzacchia are you up to fix this bug?

[2018-09-24 07:18] Tharangi commented on #109
Reopening as the PR is not closed yet.

[2018-09-24 07:19] Tharangi commented on #96
Reopening as the PR is not closed yet.

[2018-09-24 09:07] f2015537 commented on #117
## How can users get started with contributing to the project?

Anyone can find an issue in the application, the issue is not limited to bugs but also includes UI enhancements, efficient codes or improved structure.

The following procedure must be followed in order to solve an issue.

* Check if the issue has already been reported, if not report the issue on Github.
* Ask one of the mentors to as

[2018-09-24 09:08] f2015537 commented on #117
@Tharangi  it would look like this ^. Is this fine? Shall I start working?

[2018-09-24 10:36] Tharangi commented on #117
yeah! :)

[2018-09-25 20:19] f2015537 commented on #96
@Tharangi is this still available? Can I work on this?

[2018-09-30 17:15] erichart commented on #56
@Tharangi Sorry I noticed this was closed and stopped paying close attention. I will try to get you a new mock up in the next few days.

[2018-10-04 10:03] aashna27 commented on #106
Is this still available?

[2018-10-04 13:59] sarnava1 commented on #106
@aashna27 I think @tomzacchia has already sent a PR regarding this issue.

[2018-10-13 23:05] #117 closed

[2018-11-19 05:39] bhawesh96 commented on #107
I guess this can be closed now!

[2018-12-11 12:10] anumehaagrawal commented on #115
@tomzacchia  Should we open this bug fix to anyone ?

[2018-12-11 12:32] anumehaagrawal opened #120 "Add no upcoming events message in the events card in home page"
## Description
As a user, I need to add a no upcoming events message to the events card so that there is no blank card

## Mocks
![screenshot from 2018-12-11 18-01-52](https://user-images.githubusercontent.com/25412153/49800964-de250c80-fd6e-11e8-9294-e6a819115dcb.png)

## Acceptance Criteria
### Update
- [ ] home.component.html

## Definition of Done
- [ ] All of the required items are completed.

[2018-12-11 12:36] anumehaagrawal opened #121 "Fix responsiveness of contact us page"
## Description
As a user I need to fix responsiveness of the contact us page

## Mocks
![screen shot 2018-12-11 at 18 05 26](https://user-images.githubusercontent.com/25412153/49801133-5c81ae80-fd6f-11e8-940c-9bbc5d5654e2.png)

## Acceptance Criteria
### Update [Required]
- [ ] contact.component.css

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-12-11 12:50] #121 closed

[2018-12-11 12:59] anumehaagrawal opened #122 "Fix responsiveness of buttons in calendar page"
## Description
As a user
I need fix the responsiveness of buttons in calendar page and align the buttons in one horizontal line

## Mocks
![screenshot from 2018-12-11 18-27-21](https://user-images.githubusercontent.com/25412153/49802293-838daf80-fd72-11e8-9b2c-997367435555.png)

## Acceptance Criteria
### Update [Required]
- [ ] calendar.component.css

## Definition of Done
- [ ] All of the requir

[2018-12-11 13:23] sarnava1 commented on #115
Can I try solving this @anumehaagrawal?

[2018-12-12 06:11] debck commented on #122
I would like to work on this. Please assign me this.
@anumehaagrawal

[2018-12-12 09:53] sarnava1 commented on #120
@anumehaagrawal I am claiming this.

[2018-12-12 20:02] anumehaagrawal commented on #120
Assigned

[2018-12-14 15:07] sarnava1 commented on #109
@Tharangi I am claiming this

[2018-12-14 15:12] sarnava1 commented on #108
@Tharangi this can be closed now

[2018-12-14 15:12] sarnava1 commented on #107
@Tharangi @ExactlyMay @bethanyr  this can be closed now

[2018-12-14 15:12] sarnava1 commented on #109
@Tharangi @ExactlyMay @bethanyr  this can be closed now

[2018-12-14 15:13] sarnava1 commented on #105
@Tharangi @ExactlyMay @bethanyr  this can be closed now

[2018-12-14 15:14] sarnava1 commented on #104
@Tharangi @ExactlyMay @bethanyr  this can be closed now

[2018-12-14 16:34] sarnava1 commented on #120
@anumehaagrawal @bethanyr @ExactlyMay do I need to make the PR to the master branch? I actually though of including an if statement using angualr to check the length of the events array and if it would be greater than 0 then it will show them otherwise it will not display the events. Do I follow the above or I just hardcode it to "No upcoming events" heading?

[2018-12-16 06:56] anumehaagrawal commented on #120
Yeah follow the above

[2018-12-21 10:54] littleBuddhaa commented on #56
@erichart Are still doing this ?

[2018-12-21 10:55] littleBuddhaa commented on #56
@Tharangi  Can I take this up  ?

[2018-12-22 21:39] sarnava1 opened #124 "Change favicon to that of Systers"
## Description
The favicon is presently that of Angular. We should make it to that of Systers.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
.1 hours

[2019-02-05 16:21] #124 closed

[2019-02-05 16:24] #122 closed